@import 'app';

.table {
    width: 100%;
}
.row-description {
    width: 70%;
    border-bottom: 1px solid #eee;
    padding: 10px 0;
    font-size: .9em;
}
.row-hours {
    width: 10%;
    border-bottom: 1px solid #eee;
}
.input-reset {
    border: 0;
    padding: 5px;
}
.input {
    @include e('description') {
        width: 85%;
        height: 20px;
        font-weight: 300;
        padding: 15px 5px;
    }
    @include e('hours') {
        width: 100%;
    }
}
