@import 'app';

.box-wrapper {
    display: flex;
    flex-wrap: wrap;
}
.box-layout {
    padding: 20px;
    border-radius: 10px;
    background: $WHITE;
    margin: 10px;
    @include box-shadow($GREY-6);
    @include e('child') {
        justify-content: space-between;
    }
    @include m('scroll') {
        max-height: 450px;
        overflow: hidden;
        overflow-y: auto;
    }
}
.week-box {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    @include e('week') {
        color: $GREY-4;
        width: 100px;
        text-align: center;
        border-right: 1px solid $GREY-10;
        padding-right: 15px;
        @include m('text') {
            font-size: 1.8em;
        }
        @include m('hours') {
            color: $GREY-7;
            font-size: .9em;
        }
    }
    @include e('date') {
        color: $GREY-7;
        font-size: .9em;
        text-align: center;
        flex-grow: 1;
        @include m('start') {
            margin: 5px 0 10px;
        }
    }
    @include m('white') {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-grow: 1;
        padding: 20px;
        border-radius: 10px;
        background: $WHITE;
        margin: 10px;
    }
    @include m('no-padding') {
        padding: 0;
    }
    @include m('no-radius') {
        border: 0;
    }
    @include m('shadow') {
        @include box-shadow($GREY-6)
    }
}