@import 'app';

.button {
    border: 0;
    min-width: 50px;
    border-radius: 50em;
    padding: 5px 20px;
    cursor: pointer;
    @include m('add-circle') {
        color: $WHITE;
        border-radius: 50%;
        width: 30px;
        height: 30px;
        cursor: pointer;
        line-height: 30px;
        text-align: center;
        display: inline-block;
        background: $PRIMARY-COLOR;
    }
    @include m('primary') {
        background: $PRIMARY-COLOR;
        color: $WHITE;
    }
    @include m('dark') {
        color: $WHITE;
        background: $DARK;
    }
}