@import 'app';

.Modal {
    max-width: 768px;
    width: 100%;
    margin: 0 auto;
    position: fixed;
    left: 0;
    right: 0;
    top: 100px;
    background:  $WHITE;
    padding: 20px;
    border-radius: 10px;
    @include box-shadow($DARK)
  }
.Modal-bg {
    position: fixed;
    background-color: rgba(0,0,0,.4);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
  
  .Modal-close {
    width: 30px;
    height: 30px;
    position: absolute;
    right: 15px;
    top: 15px;
    border-radius: 50%;
    border: none;
    background: $DARK;
    color: $WHITE;
    cursor: pointer;
    text-align: center;
    line-height: 30px;
  }
  
  .Modal-close:after {
    content: "X";
  }
  