// Default Colors
$WHITE: #fff;

// Primary Colors
$PRIMARY-COLOR: #0D65DE;

// GREY SCALE
$DARK    : #333;
$GREY-1  : #0E1C27;
$GREY-2  : #233746;
$GREY-3  : #2F4553;
$GREY-4  : #3F4F5B;
$GREY-5  : #52616B;
$GREY-6  : #757D83;
$GREY-7  : #949BA1;
$GREY-8  : #B9BDC2;
$GREY-9  : #DCDEE0;
$GREY-10 : #EEEEEF;
$GREY-11 : #F7F8F8;
