// Block Element
// @access public
// @param {String} $element - Element's name

@mixin element($element) {
    &__#{$element} {
        @content;
    }
}

@mixin e($element) {
    @include element($element) {
        @content;
    }
}

// Block Modifies
// @access public
// @param {String} $modifier - Modifier's name

@mixin modify($modifier) {
    &--#{$modifier} {
        @content;
    }
}

@mixin m($modifier) {
    @include modify($modifier) {
        @content;
    }
}

// Box Shadow

@mixin box-shadow ($color) {
    box-shadow: 5px 5px 10px rgba($color, 0.5);
  
    &:hover,
    &:focus {
      box-shadow: 5px 5px 10px rgba($color, 0.6);
    }
  
    &:active {
      box-shadow: none;
    }
  }